<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/angular.min.js"/></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/app.js"/></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Pedir Lo que sea</title>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">

    <div class="container">

      <div class="row">
        <div class="col-sm-12 header">
            <img src=""/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 title">
          Pedir lo que sea
        </div>
      </div>

    <form name="formLoQueSea">

      <div class="form-group block-form">
        <h1>Detalle de pedido</h1>
        <h3>¿Qué necesitas?</h3>
        <textarea name="name" rows="8" ng-model="detallePedido"></textarea>
      </div>

      <div class="form-group block-form">
        <h1>Foto del artículo (opcional)</h1>
        <h3>Para guiar al cadete</h3>

        <label class="button-Select" for="upload-photo">Adjuntar imagen
        </label>
        <input type="file" name="photo" id="upload-photo" accept="image/jpeg" />
		<output id="list"></output>

      </div>

      <div class="block-form">
        <h1>Dirección del comercio</h1>
        <h3>Lugar exacto donde el cadete lo busca</h3>


    <label for="" >Calle</label>
    <input type="text" name="" value="" required>

    <label for="" class="">Altura</label>
    <input type="text" name="" value="" required pattern="^[0-9]*$">

    <div class="form-group">
    <label for="" class="">Ciudad</label>
    <select class="custom-select" style="width: 200px;" ng-required>
      <option selected>Seleccionar ciudad</option>
      <option value="1">Córdoba</option>
      <option value="2">Villa Carlos Paz</option>
      <option value="3">Río Cuarto</option>
    </select>
    </div>

    <label for="" class="">Referencia (opcional)</label>
    <textarea name="name" rows="8" ng-model="referenciaOpcional"></textarea>

    </div>


      <div class="block-form">
        <h1>Dirección de entrega</h1>
        <h3>Lugar exacto donde lo recibirás</h3>
      </div>

      <div class="block-form">
        <h1>Momento de entrega</h1>
        <h3>¿Cuándo quieres recibirlo?</h3>
        <div ng-class="{'button-Select' : 'true', 'border' : momentoEntrega == 'A'}" ng-model="momentoLoAntesPosible" ng-click="momentoEntrega='A'" >Lo antes posible
        </div>
        <div ng-class="{'button-Select' : 'true', 'border' : momentoEntrega == 'P'}" ng-model="momentoProgramado" ng-click="momentoEntrega='P'">Programar hora
        </div>
        <div class="formAdicional" ng-show="momentoEntrega == 'P'">
          <label for="" class="">Hora</label>
          <input type="time" name="" value="" class="border" ng-required>

          <label for="" class="">Fecha</label>
          <input type="date" name="" value="" class="border" ng-required>
        </div>


      </div>

      <div class="block-form">
        <h1>Datos de pago</h1>
        <h3>¿Cómo deseas pagarlo?</h3>
        <div ng-class="{'button-Select' : 'true', 'border' : metodoPago == 'E'}" ng-model="metodoEfectivo" ng-click="metodoPago='E'">Efectivo
        </div>
        <div class="formAdicional" ng-show="metodoPago == 'E'">
          <label for="" class="">Monto con el que vas abonar</label>
          <input style="width: 76px" type="text" name="" value="" pattern=^[1-9]\d*$>
        </div>
        <div ng-class="{'button-Select' : 'true', 'border' : metodoPago == 'T'}" ng-model="metodoTarjeta" ng-click="metodoPago='T'">Tarjeta VISA
        </div>

        <div class="formAdicional" ng-show="metodoPago == 'T'">
          <label for="" >Número de tarjeta</label>
          <input type="text" name="num_tarjeta" value="" required pattern="^4[0-9]{12}(?:[0-9]{3})?$">
          <label for="" >Nombre y apellido del titular</label>
          <input type="text" name="" value="" ng-required>
          <label for="" class="">Fecha de vencimiento</label>
          <input style="width: 100px" placeholder="mm/yy"type="text" name="" value="" required pattern="(0[1-9]|1[012]).[0-9]{4}">
          <label for="" class="">Código de seguridad</label>
          <input style="width: 100px" type="text" name="" value="" required pattern="[0-9]\d\d">
        </div>

      </div>

        <div class="button-Select enviar" ng-model="enviarPedido" ng-disabled="!formLoQueSea.$invalid">Enviar pedido
        </div>


    </form>
    </div>


    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
